autobahn~=22.3.2
cffi==1.14.5
cryptography==41.0.2
hyperlink==21.0.0
idna
nested-lookup==0.2.22
pycparser==2.20
six==1.15.0
txaio==21.2.1
websockets~=10.3
numpy

matplotlib # optional, only needed for graphing data
sphinx-rtd-theme # optional, needed for generating docs
sphinx-autoapi # optional, needed for generating docs
scipy # optional, needed for generating dungeons (see custom_sprints/dungeon_generator)
networkx # optional, needed for generating dungeons (see custom_sprints/dungeon_generator)

tornado~=6.1
setuptools
loguru
icecream