autobahn
cffi==1.14.5
cryptography==3.4.6
hyperlink==21.0.0
idna
nested-lookup==0.2.22
pycparser==2.20
six==1.15.0
txaio==21.2.1
websockets
numpy
matplotlib
readchar
sphinx-rtd-theme
sphinx-autoapi


